/*PRINCIPAL MEJORA*/
/* Small devices (landscape phones, 576px and up)***************************************/
@media (min-width: 0px) {
    .opciones{
        height:30px;
        background: rgb(255, 223, 223);
        color: rgb(83, 83, 83);
        border-style: solid;
        border-width: 2px;
        border-color: rgb(137, 0, 0);
        font-size: 0.5em;
        /*-webkit-text-stroke: 1px black;*/
        font-weight: bold;
        box-shadow: 2px 2px 1px black;
        transition: transform 0.1s;
    }
    .opciones:hover{
        transform: scale(1.1);
        /*color:rgb(0, 121, 16)*/
    }
    .pintarUno, .pintarDos, .pintarTres, .pintarCuatro, .pintarCinco{
        background: rgb(137, 0, 0);
        color: white;
    }
    .cintilla{
        letter-spacing: 2px;
        color:rgb(255, 255, 255);
        /*text-shadow: 0px 1px 1px rgb(255, 255, 255);*/
        font-family: 'Goldman', cursive;
        /*font-family: 'Koulen', cursive;*/
        font-size: 14px;
        background: rgb(137, 0, 0);
        border-style: solid;
        border-width: 2px 0px 2px 0px;
        border-color: rgb(0, 0, 0);
    }
     /*Concentrado sugerencias*/
    .boton-nuevo{
        background:rgb(31, 134, 74);
        border-radius: 10px;
        border-width: 0px;
        color: rgb(248, 248, 248);
        box-shadow: 0px 2px 2px black;
    }

    .boton-nuevo:hover{
        background:rgb(8, 93, 43);
    }
    /*tabla sugerencias*/
        .div-scroll{
            max-height: 70vh;
            overflow: auto;
            white-space: nowrap;
        }
      
        .tablaConcentrado{
            font-size: 0.6em;         
        }
        .sticky{
            position:sticky;
            left: -15px;
            background:white;
        }
        .tablaConcentrado tbody tr .sticky{
            background:#989898;
        }
        .tablaConcentrado tbody tr:nth-child(2n) .sticky{
            background: rgb(212, 212, 212);
        }

        .inputs-concentrado{
            background: rgb(255, 255, 255);
            border: 1px solid;
            border-color: rgb(137, 0, 0);
            border-radius: 5px;
            height: 50px;
            min-width: 100px;
        }
        .input-nom-sugerencia{ width: 250px;}
        .text-area{resize: inline; }
  /*Fin concentrado sugerencias*/
 }
 /* Medium devices (tablets, 576 and up)***************************************/
@media (min-width: 576px) {

    .inputs-concentrado{
        min-width: 200px;
    }
  
 }
/* Medium devices (tablets, 768px and up)***************************************/
@media (min-width: 768px) { 
    
 }
/* Large devices (desktops, 992px and up)****************************************/
@media (min-width: 992px) { 
    .opciones{
        font-size: 0.9em;
    }
    .tablaConcentrado{
        font-size: 0.6em;         
     }
     /*.input-nom-sugerencia{width: 350px;}*/
 }
/* X-Large devices (large desktops, 1200px and up)***************************************/
@media (min-width: 1200px) {
    .tablaConcentrado{
        font-size: 0.7em;         
     }

 }
/* XX-Large devices (larger desktops, 1400px and up)****************************************/
@media (min-width: 1400px) { 

}